@model WebApp.Models.ProductType

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h3 class="card-title">@(ViewContext.RouteData.Values["id"] !=null ?"Chỉnh sửa loại sản phẩm" : "Thêm loại sản phẩm mới")</h3>
        <p class="card-category">Loại sản phẩm</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="@(ViewContext.RouteData.Values["id"] !=null ?"Edit" : "Create")" asp-route-id="@(ViewContext.RouteData.Values["id"] !=null ? ViewContext.RouteData.Values["id"] : "")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@(ViewContext.RouteData.Values["id"] !=null ?"Cập nhật" : "Thêm mới")" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
