@model IEnumerable<WebApp.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container p-0 m-0">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Img/Pro/@item.Img" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>  
        }
</div>
    </div>
<style>
   .card{
       width:18rem;
       height:18rem;
   }
   .product{
       padding-bottom:50px;
   }
</style>
