<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_HeadPartial.cshtml")
<body class="">
    <style>
        th{
            text-align:center;
        }
    </style>
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Creative Tim
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="material-icons">dashboard</i>
                            <p>Trang chủ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                            <i class="material-icons">person</i>
                            <p>Quản Lý Người dùng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="material-icons">person_pin</i>
                            <p>Quản Lý Thông Tin Cá Nhân</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
                            <i class="material-icons">add_shopping_cart</i>
                            <p>Quản Lý Sản Phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">
                            <i class="material-icons">content_paste</i>
                            <p>Quản Lý danh mục sách</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Publishers" asp-action="Index">
                            <i class="material-icons">library_books</i>
                            <p>Quản lý nhà xuất bản</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Slides" asp-action="Index">
                            <i class="material-icons">bubble_chart</i>
                            <p>Quản lý Slide</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="RoleManage">
                            <i class="material-icons">how_to_reg</i>
                            <p>Phân Quyền</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Bills" asp-action="Index">
                            <i class="material-icons">assignment</i>
                            <p>Quản lý đơn hàng</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">
                            <i class="material-icons">sticky_note_2</i>
                            <p>Quản lý Loại sản phẩm </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            @await Html.PartialAsync("_NavPartial.cshtml")
            <!-- End Navbar -->
            <div class="content">
                    @RenderBody()
            </div>
            <!--Footer-->
            @await Html.PartialAsync("_FooterPartial.cshtml")
            <!--End Footer-->
        </div>
    </div>
    @await Html.PartialAsync("_EndPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>

</html>
