<!DOCTYPE html>
<html>
@await Html.PartialAsync("_HeadPartial.cshtml")
<body>
    @await Html.PartialAsync("_NavPartial.cshtml")
    @await Html.PartialAsync("_MenuPartial.cshtml")
    <main>
        <div class="container">
            @RenderBody()
        </div>

    </main>

    @await Html.PartialAsync("_FooterPartial.cshtml")

    </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Admin/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
