<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Obaju : e-commerce template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<!-- Bootstrap CSS-->
<link href="~/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Font Awesome CSS-->
<link href="~/FrontEnd/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!-- Google fonts - Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
<!-- owl carousel-->
<link href="~/FrontEnd/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet" />
<link href="~/FrontEnd/vendor/owl.carousel/assets/owl.theme.default.css" rel="stylesheet" />
<!-- theme stylesheet-->
<link href="~/FrontEnd/css/style.default.css" rel="stylesheet" />
<!-- Custom stylesheet - for your changes-->
<link href="~/FrontEnd/css/custom.css" rel="stylesheet" />
<!-- Favicon-->
<link rel="shortcut icon" href="favicon.png">
<!-- Tweaks for older IEs-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
